<div class="section section--local">
    <div class="section__content">
        <div class="row">
            <div class="col-full">
                <h1>Sorry, there is an error.</h1>
                <h3>{{name}}</h3>
                <p>{{message}}</p>
            </div>
        </div>
    </div>
</div>
    
